@import '@styles/constants.less';

[class*='menu'].sider-menu {
    border-right: none;
    :global {
        .ant-menu-item {
            .anticon svg {
                color: @primary-light-9;

                path {
                    fill: @primary-light-9;
                }
            }
        }

        .ant-menu-item.ant-menu-item-selected {
            background: @primary-light-1;
            color: @primary-light-5;
            box-shadow: inset -3px 0 0 0 @blue-light-6;

            .anticon svg {
                color: @primary-light-5;
                path {
                    fill: @primary-light-5;
                }
            }
        }

        .ant-menu-item:not(.ant-menu-inline-collapsed) {
            @media (max-width: @screen-md) {
                padding: @space-0;
            }

            &:not(:last-child) {
                margin-bottom: @space-18;

                @media (max-width: @screen-md) {
                    margin-bottom: @space-10;
                    padding: @space-0;
                }
            }

            .anticon {
                @media (max-width: @screen-md) {
                    display: none;
                }
            }
        }

        .anticon.anticon-heart {
            display: flex;
        }

        .ant-badge-count {
            box-shadow: none;
            top: 1px;
        }

        .ant-badge {
            @media (max-width: @screen-md) {
                display: none;
            }
        }
    }
}
