@import '@styles/constants.less';

.calendar-page {
    :global {
        .ant-page-header-heading {
            justify-content: flex-end;
        }

        .ant-page-header-heading-left {
            display: none;
        }

        .ant-picker-calendar,
        .ant-picker-calendar-full .ant-picker-panel {
            background: @primary-light-1;
        }

        .ant-picker-calendar {
            padding: @space-13 @space-24 93px;

            @media (max-width: @screen-lg-xs) {
                padding: @space-6 @space-25 131px;
            }

            @media (max-width: @screen-sm) {
                padding-top: @space-11;
                padding-bottom: @space-23;
            }
        }

        .ant-picker-calendar-full .ant-picker-panel .ant-picker-calendar-date {
            padding-top: @space-0;
            padding-bottom: @space-30;

            @media (max-width: @screen-lg-xs) {
                padding: @space-0 @space-5 @space-30;
            }
        }

        .ant-picker-calendar .ant-picker-panel .ant-picker-body {
            padding: @space-0;
        }

        .ant-picker-cell-inner {
            background: @neutral-1;
        }

        .ant-picker-cell-today {
            border-top: 2px solid @blue-dark-6;

            @media (max-width: @screen-sm) {
                border-top: none;
            }
        }

        .ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner:not(.mobile-date) {
            @media (max-width: @screen-sm) {
                background: transparent;
            }
        }

        .ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner {
            @media (max-width: @screen-sm) {
                color: @neutral-10;
            }
        }

        .ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner:before {
            border: none;
        }

        .ant-picker-calendar-full
            .ant-picker-panel
            .ant-picker-cell-selected
            .ant-picker-calendar-date
            .ant-picker-calendar-date-value {
            color: @neutral-10;
        }

        .ant-btn.ant-btn-circle {
            margin-top: @space-1;
            border: none;
            background-color: transparent;
            box-shadow: none;

            .anticon-setting {
                font-size: @font-size-base;
            }
        }
    }
}

.modal-error {
    :global {
        .ant-modal-confirm .ant-modal-body {
            padding: @space-15 @space-24;
        }

        .ant-modal-confirm .ant-modal-confirm-btns {
            margin-top: @space-12;
        }

        .anticon-close-circle svg {
            font-size: @font-size-24px;
        }
        .ant-modal-close-icon {
            font-size: @font-size-base;
        }

        .ant-modal-close-x {
            line-height: 50px;
        }

        .ant-modal-close {
            padding: @space-0 @space-10;
        }

        .ant-modal-confirm-title {
            padding-right: @space-60;
        }

        .ant-modal-confirm-body > .anticon + .ant-modal-confirm-title + .ant-modal-confirm-content {
            margin-left: @space-40;
        }

        .ant-modal-confirm-body .ant-modal-confirm-content {
            margin-top: @space-4;
            color: @neutral-7;
        }
    }
}

.calendar-header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-right: @space-23;
    padding-bottom: @space-27;
    background: @primary-light-1;

    @media (max-width: @screen-xs) {
        padding-right: @space-17;
    }

    :global {
        .ant-btn {
            margin-bottom: -@space-24;

            @media (max-width: @screen-xs) {
                margin-bottom: -@space-16;
            }
        }
    }
}
