@import '@styles/constants.less';

.modal-pals {
    :global {
        .ant-modal-close-icon {
            font-size: @font-size-base;
        }

        .ant-modal-body {
            padding: @padding-margin-40px @padding-margin-64px @padding-margin-40px
                @padding-margin-33px;

            @media (max-width: @screen-xs) {
                padding: @padding-margin-18px @padding-margin-12px;
            }
        }

        .modal-user-info {
            padding-top: @padding-margin-3px;
        }

        .modal-status-block {
            padding-top: @padding-margin-22px;

            @media (max-width: @screen-xs) {
                padding-top: @padding-margin-10px;
                gap: 18px;
            }
        }

        .status {
            display: flex;
            align-items: center;
            gap: 9px;

            @media (max-width: @screen-xs) {
                justify-content: center;
            }

            .ant-typography {
                font-size: @font-size-12px;
            }

            .anticon-check-circle {
                color: #52c41a;
            }
        }

        .ant-card-meta {
            @media (max-width: @screen-xs) {
                padding-bottom: @padding-margin-18px;
            }
        }
    }
}

[class*='ant-col'].training {
    display: flex;
}

.training-type {
    :global {
        .ant-typography {
            margin-bottom: @padding-margin-6px;
            font-size: @font-size-12px;
        }
    }
}

.training-info {
    :global {
        .ant-typography {
            margin-bottom: @padding-margin-3px;
            color: @primary-color;
            font-weight: @font-weight-medium;
        }
    }
}
