@import '@styles/constants.less';

.download-card {
    :global {
        .ant-card-head-wrapper {
            flex-direction: column;
            align-items: flex-start;
            gap: 8px;

            @media (max-width: 479px) {
                align-items: center;
            }
        }

        .ant-card-head-title {
            padding: @padding-zero;
        }

        .ant-card-extra {
            padding: @padding-zero;
            margin: @margin-zero;
            color: @neutral-7;
        }

        .ant-btn {
            padding: 4px 16px 4px 8px;

            @media (max-width: 479px) {
                flex-grow: 1;
            }
        }

        .ant-card-body {
            display: flex;
        }
    }
}
