@import '@styles/constants.less';

.drawer-title {
    display: flex;
}

.drawer-subtitle {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: @space-20 -@space-20 @space-0 @space-0;

    @media (max-width: @screen-sm) {
        margin-top: @space-16;
    }

    :global {
        .ant-badge .ant-badge-status-text,
        .date {
            color: @neutral-7;
            font-weight: @font-weight-normal;
        }

        .date {
            font-size: @font-size-base;
            margin-bottom: @space-0;
        }
    }
}
