@import '@styles/constants.less';

[class*='ant-result'].auth-result {
    padding: @space-0;

    :global {
        .ant-result-title {
            line-height: 1.4;
        }

        .ant-result-subtitle {
            line-height: 1.4;
            white-space: @white-space-pre-line;
        }

        .ant-btn-primary {
            width: @full-width;
            font-size: @font-size-base;
        }
    }
}

[class*='ant-result'].auth-check-no-exist {
    padding: @space-0;
    margin: @space-0 -@space-32;

    @media (max-width: @screen-sm) {
        padding: @space-40 @space-0 @space-24;
        margin: @space-0;
    }

    :global {
        .ant-result-title {
            line-height: 1.4;
        }

        .ant-result-subtitle {
            padding: @space-0 44px;
            line-height: 1.2;

            @media (max-width: @screen-sm) {
                padding: @space-0 @space-26;
            }
        }

        .ant-btn {
            font-size: @font-size-base;
        }
    }
}

[class*='ant-result'].auth-check-error {
    padding: @space-0;

    @media (max-width: @screen-sm) {
        padding: @space-30 @space-0 @space-24;
    }

    :global {
        .ant-result-icon {
            margin-bottom: @space-22;
        }

        .ant-result-title {
            line-height: 1.4;
        }

        .ant-result-subtitle {
            margin: @space-0 -21px;
            line-height: 1.2;

            @media (max-width: @screen-sm) {
                margin: @space-0;
            }
        }

        .ant-result-extra {
            margin-top: @space-25;
        }

        .ant-btn {
            font-size: @font-size-base;
        }
    }
}

[class*='ant-result'].feedback-result {
    padding: @space-46 63px @space-40;

    @media (max-width: @screen-sm) {
        padding: @space-10 @space-0;
        margin: @space-0 -@space-9;
    }

    :global {
        .ant-btn {
            font-size: @font-size-base;
        }

        .ant-result-title,
        .ant-result-subtitle {
            line-height: @line-height-large;
        }

        .ant-space {
            width: @full-width;

            .ant-btn {
                width: @full-width;
            }
        }

        .ant-space-item {
            flex: 1;
        }

        .ant-result-extra .ant-btn-primary {
            width: @full-width;
        }
    }
}

[class*='ant-result'].feedback-result[class*='feedback-result-server'] {
    :global {
        .ant-result-extra .ant-btn-primary {
            width: 74px;
        }

        .ant-result-subtitle {
            @media (max-width: @screen-sm) {
                padding: @space-0 @space-46;
            }
        }
    }
}
