@import '@styles/constants.less';

[class*='ant-layout-content'].not-found-page {
    padding: @space-24 @space-24 @space-42;
    display: flex;
}

.not-found-page-content {
    background-color: @neutral-1;
    border-radius: @border-radius-8px;
    padding: @space-24;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    :global {
        .ant-result-title,
        .ant-result-subtitle {
            line-height: @line-height-large;
        }
    }
}
