@import '@styles/constants.less';

.not-found-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: @full-height;
    background: @primary-light-1;
}
