@import '@styles/constants.less';

.logo {
    display: flex;
    align-items: flex-end;
    padding: 46px 0 64px 29px;

    &.logo-collapsed {
        padding: 51px 0 65px 18px;
    }

    @media (max-width: @screen-xs) {
        padding: 17px 0 29px 18px;
    }
}
