@import '@styles/constants.less';

.logo {
    display: flex;
    align-items: flex-end;
    padding: @space-46 @space-0 @space-64 @space-29;

    &.logo-collapsed {
        padding: 51px @space-0 65px @space-18;
    }

    @media (max-width: @screen-md) {
        padding: @space-17 @space-0 @space-29 @space-18;
    }
}
