@import '@styles/constants.less';

.drawer {
    :global {
        .ant-drawer-content,
        .ant-drawer-content-wrapper {
            border-radius: @border-radius-8px 0 0 @border-radius-8px;

            @media (max-width: @screen-sm) {
                border-radius: @border-radius-24px @border-radius-24px 0 0;
            }
        }

        .ant-drawer-header {
            padding: @space-24 @space-27 @space-24 @space-32;
            border-bottom: none;

            @media (max-width: @screen-sm) {
                padding: @space-24 @space-11 @space-24 @space-16;
            }
        }
        .ant-drawer-body {
            padding: @space-16 @space-32 @space-24;

            @media (max-width: @screen-sm) {
                padding: @space-0 @space-16 @space-24;
            }
        }

        .ant-drawer-footer {
            padding: @space-12 @space-33;

            @media (max-width: @screen-sm) {
                padding: @space-12 @space-16;
            }
        }

        .ant-drawer-content-wrapper {
            @media (max-width: @screen-sm) {
                height: 555px;
            }
        }
    }
}

.labels {
    display: flex;
    justify-content: flex-end;
    padding: @space-15 @space-0 @space-24;
    gap: @space-14;

    &.labels-inactive-pro {
        padding-top: @space-24;

        @media (max-width: @screen-sm) {
            padding-top: @space-16;
            padding-bottom: @space-12;
        }
    }
}

.label {
    width: 56px;
    height: 24px;
    font-size: @font-size-12px;
    line-height: @line-height-large;
    display: flex;
    align-items: center;
    justify-content: center;

    &:first-child {
        background-color: @neutral-4;
    }

    &:last-child {
        background-color: @primary-light-1;
        color: @primary-light-7;
    }
}

.label-strong {
    font-weight: @typography-title-font-weight;
    font-size: 13px;
    gap: @space-6;
    justify-content: flex-end;
}

[class*='anticon'].label-icon {
    color: #52c41a;
    font-size: @font-size-base;
}
