@import '@styles/constants.less';

.free,
.inactive-pro-tariff,
.pro-tariff {
    display: flex;
    justify-content: center;
}

.free {
    display: flex;
    justify-content: center;
    gap: @space-11;
    padding: 38px;

    @media (max-width: @screen-sm) {
        padding: @space-22 38px;
    }
}

.pro-tariff {
    align-items: center;
    flex-direction: column;
    padding: @space-27;

    @media (max-width: @screen-sm) {
        padding: @space-11;
    }
}

.inactive-pro-tariff {
    padding: @space-29 @space-20;

    @media (max-width: @screen-sm) {
        padding: @space-12 @space-20;
    }
}
