@import '@styles/constants.less';

.form-profile {
    max-width: 480px;

    & .personal-title,
    & .privacy-title {
        margin-bottom: @space-24;

        @media (max-width: @screen-xs) {
            margin-bottom: @space-20;
        }
    }

    :global {
        .ant-btn-primary {
            font-size: @font-size-lg;
            margin-top: @space-21;

            @media (max-width: @screen-xs) {
                margin-top: @space-17;
                width: @full-width;
            }
        }
    }
}

.personal-info-container {
    display: flex;
    align-items: flex-start;
    gap: @space-16;

    @media (max-width: @screen-xs) {
        flex-direction: column-reverse;
        gap: @space-0;
    }

    :global {
        .ant-form-item {
            @media (max-width: @screen-xs) {
                width: @full-width;
            }

            .ant-upload-list-item-name {
                @media (max-width: @screen-xs) {
                    visibility: hidden;
                }
            }

            .ant-upload-list-item {
                @media (max-width: @screen-xs) {
                    margin: @space-0;
                }
            }
        }

        .ant-form-item:last-child {
            @media (max-width: @screen-xs) {
                margin-bottom: @space-16;
            }
        }
    }
}

.privacy-container {
    padding-top: @space-24;

    @media (max-width: @screen-xs) {
        padding-top: @space-12;
    }

    & .register-field {
        margin-bottom: @space-33;
        font-size: @font-size-base;
    }

    :global {
        .ant-input-group-addon {
            padding: 0 12;
        }

        .ant-input-affix-wrapper > .ant-input {
            font-size: @font-size-base;
        }

        .ant-form-item-explain div:not(.ant-form-item-explain-success) {
            padding-bottom: @space-21;
            font-size: @font-size-12px;
            line-height: @line-height-large;
            padding-top: @space-2;

            @media (max-width: @screen-xs) {
                padding-right: @space-9;
                padding-bottom: @space-5;
            }
        }
    }
}
