@import '@styles/constants.less';

[class*='ant-btn'].button-icon-setting {
    margin-top: -30px;

    :global {
        .anticon-setting {
            @media (max-width: @screen-lg-sm) {
                display: none;
            }
        }
    }

    @media (max-width: @screen-sm) {
        display: none;
    }
}
