@import '@styles/constants.less';

.drawer {
    :global {
        .ant-drawer-content,
        .ant-drawer-content-wrapper {
            border-radius: @border-radius-8px 0 0 @border-radius-8px;

            @media (max-width: @screen-sm) {
                border-radius: @border-radius-24px @border-radius-24px 0 0;
            }
        }

        .ant-drawer-content-wrapper {
            @media (max-width: @screen-sm) {
                height: 555px;
            }
        }

        .ant-drawer-title {
            font-size: @font-size-20px;
        }

        .anticon {
            font-size: @font-size-base;
        }

        .drawer-close-icon {
            color: @neutral-7;
        }

        .ant-drawer-header {
            padding: @space-26 @space-27 @space-10 @space-32;
            border-bottom: none;
            align-items: flex-start;

            @media (max-width: @screen-sm) {
                padding: @space-26 @space-12 @space-10 @space-16;
            }

            .ant-typography {
                padding-left: @space-10;
            }
        }

        .ant-drawer-body {
            padding: @space-20 @space-32;

            @media (max-width: @screen-sm) {
                padding: @space-20 @space-15;
            }
        }

        .ant-drawer-footer {
            border-top: none;
            max-width: 350px;
            text-align: center;
            margin: @space-0 auto;

            .ant-typography {
                color: @neutral-7;
            }
        }
    }
}
