@import '@styles/constants.less';

.selected-user-info {
    display: flex;
    justify-content: space-between;
    padding: @padding-margin-20px @padding-margin-zero;

    :global {
        .selected-user-name {
            white-space: @white-space-break-spaces;
            font-weight: @font-weight-normal;
        }
    }
}
