@import '@styles/constants.less';

.feedback-form {
    :global {
        .ant-modal-body {
            padding: @padding-margin-15px @padding-margin-16px @padding-margin-zero;
        }

        .ant-form-item:first-child {
            margin-bottom: @padding-margin-10px;
        }

        .ant-form-item .ant-rate {
            font-size: @font-size-22px;
        }
    }
}
