@import '@styles/constants.less';

.feedback-form {
    :global {
        .ant-modal-body {
            padding: @space-15 @space-16 @space-0;
        }

        .ant-form-item:first-child {
            margin-bottom: @space-10;
        }

        .ant-form-item .ant-rate {
            font-size: @font-size-22px;
        }
    }
}
