@import '@styles/constants.less';

.user-info {
    align-items: center;

    :global {
        .ant-card-meta-avatar {
            padding-right: @space-7;
        }

        .ant-card-meta-title {
            white-space: @white-space-break-spaces;
            font-size: @font-size-base;
            line-height: @line-height-large;
            font-weight: @font-weight-normal;
            color: @neutral-10;
        }
    }
}
