@import '@styles/constants.less';

.user-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 234px;

    @media (max-width: @screen-xs) {
        flex: 1;
    }

    & > div {
        line-height: @line-height-large;
    }

    :global {
        .ant-card-meta {
            display: flex;
            align-items: center;
        }

        .ant-card-meta-avatar {
            padding-right: @space-9;
        }

        .ant-card-meta-title {
            font-size: @font-size-base;
            white-space: @white-space-break-spaces;
            font-weight: @font-weight-normal;
            line-height: @line-height-large;
        }

        .ant-card-body {
            border-radius: @border-radius-3px;
        }

        .user-card-item {
            font-size: @font-size-12px;
            color: @neutral-7;

            &:last-child {
                margin-top: @space-4;
            }
        }

        .ant-typography.training-info {
            margin-bottom: @space-0;
            color: @primary-color;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;

            &:last-child {
                margin-top: @space-4;
            }
        }

        .ant-btn {
            margin-top: @space-18;
        }
    }
}

[class*='ant-card'].gray {
    background-color: @neutral-2;

    :global {
        .ant-card-body {
            background-color: @neutral-2;
            padding: @space-17 @space-16 @space-11 @space-12;
            border-radius: @border-radius-3px;
        }

        .user-description {
            padding-top: @space-11;
        }

        .anticon-info-circle {
            color: @neutral-7;
        }
    }
}

[class*='ant-card'].default {
    :global {
        .ant-card-body {
            padding: @space-17 @space-16 @space-11 @space-12;
            border-radius: @border-radius-3px;
        }

        .user-description {
            padding-top: @space-11;
        }
    }
}

[class*='ant-card'].blue {
    background-color: @primary-light-1;
    height: 196px;
    overflow: auto;

    :global {
        .ant-card-body {
            background-color: @primary-light-1;
            padding: @space-20 @space-16 @space-8 @space-17;
            border-radius: @border-radius-3px;
        }

        .user-description {
            padding-top: @space-16;
        }
    }
}
