@import '@styles/constants.less';

.workout-drawer-title {
    display: flex;
    gap: @space-9;

    :global {
        .ant-typography {
            margin: @space-0;
            font-weight: @font-weight-medium;
        }
    }
}
