@import '@styles/constants.less';

.workout-drawer-title {
    display: flex;
    gap: 9px;

    :global {
        .ant-typography {
            margin: @padding-margin-zero;
            font-weight: @font-weight-medium;
        }
    }
}
