@import '@styles/constants.less';

.list-edit {
    :global {
        .ant-list-item {
            padding: @space-0;
        }

        .ant-typography {
            color: @neutral-7;
        }

        .ant-btn-icon-only {
            font-size: @font-size-lg;
        }
    }
}
