@import '@styles/constants.less';

[class*='ant-space'].marathons-empty {
    display: flex;
    height: @full-height;
    justify-content: center;

    :global {
        .marathons-empty-title {
            color: @primary-light-9;
            text-align: center;
        }

        .marathons-empty-subtitle {
            text-align: center;
        }
    }
}
