[class*='ant-btn-icon-only'].header-button-round {
    display: none;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.04);
}

@media (max-width: 550px) {
    [class*='ant-btn-icon-only'].header-button-round {
        display: block;
        margin-top: -8px;
    }
}
