[class*='ant-btn'].button-round {
    display: none;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.04);

    @media (max-width: 550px) {
        display: block;
        margin-top: -11px;
        margin-right: 9px;
    }
}
