@import 'antd/lib/style/themes/default.less';

@primary-light-1: @geekblue-1;
@primary-light-5: @geekblue-5;
@primary-light-6: @geekblue-6;
@primary-light-9: @geekblue-9;

@neutral-1: @white;
@neutral-3: @image-bg;
@neutral-4: #f0f0f0;
@neutral-5: #d9d9d9;
@neutral-6: @select-multiple-item-disabled-color;
@neutral-7: #8c8c8c;
@neutral-10: #262626;

@blue-light-6: #1890ff;

@blue-dark-6: #177ddc;

@primary-color: @primary-light-6;
@error-color: #ff4d4f;
