@import 'antd/lib/style/themes/default.less';

@primary-light-1: @geekblue-1;
@primary-light-5: @geekblue-5;
@primary-light-6: @geekblue-6;
@primary-light-7: @geekblue-7;
@primary-light-9: @geekblue-9;
@primary-light-10: @geekblue-10;

@neutral-1: @white;
@neutral-2: #fafafa;
@neutral-3: @image-bg;
@neutral-4: #f0f0f0;
@neutral-5: #d9d9d9;
@neutral-6: @select-multiple-item-disabled-color;
@neutral-7: #8c8c8c;
@neutral-10: #262626;

@blue-light-6: #1890ff;

@blue-dark-6: #177ddc;

@primary-color: @primary-light-6;
@error-color: #ff4d4f;

@padding-margin-zero: 0;
@padding-margin-1px: 1px;
@padding-margin-2px: 2px;
@padding-margin-3px: 3px;
@padding-margin-4px: 4px;
@padding-margin-5px: 5px;
@padding-margin-6px: 6px;
@padding-margin-7px: 7px;
@padding-margin-8px: 8px;
@padding-margin-9px: 9px;
@padding-margin-10px: 10px;
@padding-margin-11px: 11px;
@padding-margin-12px: 12px;
@padding-margin-13px: 13px;
@padding-margin-14px: 14px;
@padding-margin-15px: 15px;
@padding-margin-16px: 16px;
@padding-margin-17px: 17px;
@padding-margin-18px: 18px;
@padding-margin-19px: 19px;
@padding-margin-20px: 20px;
@padding-margin-21px: 21px;
@padding-margin-22px: 22px;
@padding-margin-23px: 23px;
@padding-margin-24px: 24px;
@padding-margin-25px: 25px;
@padding-margin-26px: 26px;
@padding-margin-27px: 27px;
@padding-margin-29px: 29px;
@padding-margin-30px: 30px;
@padding-margin-31px: 31px;
@padding-margin-32px: 32px;
@padding-margin-33px: 33px;
@padding-margin-40px: 40px;
@padding-margin-42px: 42px;
@padding-margin-46px: 46px;
@padding-margin-48px: 48px;
@padding-margin-55px: 55px;
@padding-margin-60px: 60px;
@padding-margin-64px: 64px;

@gap-6px: 6px;
@gap-7px: 7px;
@gap-8px: 8px;
@gap-10px: 10px;
@gap-15px: 15px;
@gap-16px: 16px;

@font-size-12px: 12px;
@font-size-20px: 20px;
@font-size-22px: 22px;
@font-size-24px: 24px;

@font-weight-normal: 400;
@font-weight-medium: 500;

@line-height-large: 130%;

@white-space-break-spaces: break-spaces;
@white-space-pre-line: pre-line;

@full-width: 100%;
@full-height: 100%;

@border-size-1px: 1px;

@border-radius-2px: 2px;
@border-radius-3px: 3px;
@border-radius-6px: 6px;
@border-radius-8px: 8px;
@border-radius-18px: 18px;
@border-radius-24px: 24px;

@screen-lg-xs: 834px;
@screen-lg-sm: 835px;

@btn-font-size-lg: @font-size-base;

@box-shadow-layout-0-15: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
