@import 'antd/lib/style/themes/default.less';

@primary-light-1: @geekblue-1;
@primary-light-5: @geekblue-5;
@primary-light-6: @geekblue-6;
@primary-light-9: @geekblue-9;

@neutral-1: @white;
@neutral-3: @image-bg;
@neutral-4: #f0f0f0;
@neutral-5: #d9d9d9;
@neutral-6: @select-multiple-item-disabled-color;
@neutral-7: #8c8c8c;
@neutral-10: #262626;

@blue-light-6: #1890ff;

@blue-dark-6: #177ddc;

@primary-color: @primary-light-6;
@error-color: #ff4d4f;

@padding-17px: 17px;

@margin-4px: 4px;
@margin-9px: 9px;
@margin-12px: 12px;
@margin-18px: 18px;
@margin-22px: 22px;
@margin-22px: 22px;

@padding-margin-zero: 0;
@padding-margin-6px: 6px;
@padding-margin-7px: 7px;
@padding-margin-8px: 8px;
@padding-margin-10px: 10px;
@padding-margin-16px: 16px;
@padding-margin-24px: 24px;
@padding-margin-25px: 25px;
@padding-margin-27px: 27px;
@padding-margin-30px: 30px;
@padding-margin-32px: 32px;
@padding-margin-40px: 40px;

@gap-8px: 8px;

@font-size-20px: 20px;
@font-size-22px: 22px;
@font-size-24px: 24px;

@font-weight-normal: 400;
@font-weight-medium: 500;

@line-height-large: 130%;

@white-space-break-spaces: break-spaces;
@white-space-pre-line: pre-line;

@full-width: 100%;
@full-height: 100%;

@border-radius-2px: 2px;

@screen-lg-xs: 834px;
@screen-lg-sm: 835px;
