@import '@styles/constants.less';

.workouts-wrapper {
    :global {
        .ant-page-header {
            padding-bottom: @padding-margin-19px;
        }

        .ant-page-header-heading {
            justify-content: flex-end;
        }

        .ant-page-header-heading-left {
            display: none;
        }

        .ant-page-header-heading-extra {
            margin-left: auto;
        }

        .ant-tabs-content-holder {
            max-height: calc(100vh - 270px);
            overflow: auto;
        }
    }
}
