.logo {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-right: 17px;
}

@media (max-width: 479px) {
    .logo {
        padding-right: 0;
    }
}

.logo[class*='collapsed'] {
    padding-right: 0;
}
