@import '@styles/constants.less';

.label-pro {
    background: @primary-light-1;
    padding: @space-14 @space-0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: @space-33;

    :global {
        .ant-typography {
            margin: @space-0;
            color: @primary-light-10;
            font-weight: @font-weight-medium;
        }
    }
}
