@import '@styles/constants.less';

.label-pro {
    background: @primary-light-1;
    padding: @padding-margin-14px @padding-margin-zero;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: @padding-margin-33px;

    :global {
        .ant-typography {
            margin: @padding-margin-zero;
            color: @primary-light-10;
            font-weight: @font-weight-medium;
        }
    }
}
