[class*='ant-layout-footer'].sider-footer {
    margin-top: auto;
    padding: 0;
}

[class*='ant-divider'].sider-divider {
    margin: 0;
}

[class*='ant-menu'][class*='ant-menu-inline'].sider-footer-menu [class*='ant-menu-item'] {
    margin: 0;
}

[class*='ant-menu'][class*='collapsed'].sider-footer-menu [class*='ant-menu-item'] {
    padding-left: 8px;
}

[class*='ant-menu'][class*='ant-menu-inline'].sider-footer-menu [class*='ant-menu-title-content'] {
    margin-left: 26px;
}

@media (max-width: 479px) {
    [class*='ant-menu'][class*='ant-menu-inline'].sider-footer-menu
        [class*='ant-menu-title-content'] {
        margin-left: 10px;
    }
}
