@import '@styles/constants.less';

[class*='ant-card'].training-details {
    position: absolute;
    width: 312px;
    top: 0;
    background: @neutral-1;
    z-index: 1;
    box-shadow: @box-shadow-layout-0-15;

    @media (max-width: @screen-xl) {
        width: 288px;
        left: -11px;
    }

    :global {
        .ant-card-head {
            padding: @padding-margin-zero @padding-margin-8px @padding-margin-zero
                @padding-margin-4px;
        }

        .ant-card-head-title {
            padding-bottom: @padding-margin-11px;
        }

        .ant-btn-icon-only.ant-btn-sm > * {
            font-size: @font-size-lg;
        }

        .ant-badge-status-text {
            font-weight: @font-weight-normal;
        }

        .ant-card-body {
            padding: @padding-margin-24px 1 @padding-margin-12px;
        }

        h5.ant-typography {
            font-weight: @font-weight-medium;
        }
    }
}

.training-details-title {
    display: flex;
    justify-content: space-between;
}

.list {
    :global {
        .ant-list-items {
            padding-top: @padding-margin-14px;
        }

        .ant-list-item {
            padding: @padding-margin-zero;

            &:not(:last-child) {
                padding-bottom: @padding-margin-8px;
            }
        }

        .list-item {
            color: @primary-color;
            font-size: @font-size-12px;
            padding: @padding-margin-zero;
        }
    }
}
