@import '@styles/constants.less';

.workouts,
.marathons,
.joint-training {
    margin: @space-24 @space-24 @space-42;
    border-radius: @border-radius-8px;
    min-height: calc(100vh - 165px);

    @media (max-width: @screen-xs) {
        margin: @space-24 @space-0 @space-42;
        border-radius: 0;
    }

    :global {
        .ant-tabs {
            padding: @space-25 @space-23 @space-0;

            @media (max-width: @screen-xs) {
                padding: @space-3 @space-0 @space-0;
            }
        }

        .ant-tabs-tab {
            padding-bottom: @space-0;

            @media (max-width: @screen-lg-sm) {
                padding-bottom: @space-12;
            }
        }

        .ant-tabs > .ant-tabs-nav {
            padding: @space-0 @space-46 @space-0 @space-13;

            @media (max-width: @screen-lg-sm) {
                margin: @space-0 @space-14 @space-7 @space-13;
                margin: @space-0 @space-3 @space-5 @space-4;
            }
        }

        .ant-tabs-tab + .ant-tabs-tab {
            @media (max-width: @screen-lg-sm) {
                margin: @space-0 @space-0 @space-0 @space-10;
            }
        }

        .ant-tabs-nav-list {
            width: @full-width;
            justify-content: space-between;
        }

        .ant-tabs-tab-btn {
            font-size: @font-size-24px;
            line-height: @line-height-large;

            @media (max-width: @screen-lg-sm) {
                font-size: @font-size-base;
            }
        }

        .ant-badge {
            padding: @space-0 @space-0 @space-5 @space-9;
        }

        .ant-badge-count {
            font-size: @font-size-10px;
            padding: @space-0 @space-8;
            height: 16px;
            line-height: 1.6;
        }
    }
}

.workouts,
.joint-training {
    background: @neutral-1;
}

.marathons {
    background: url('/images/background-marathons.jpg') no-repeat center / cover;
    display: flex;

    :global {
        .ant-tabs {
            flex: 1;
        }

        .ant-tabs-content,
        .ant-tabs-tabpane {
            height: @full-height;
        }
    }
}
