@import '@styles/constants.less';

.register-field {
    :global {
        .ant-form-item-explain {
            padding-bottom: @padding-margin-25px;
            font-size: @font-size-sm;
            color: @neutral-7;
            text-align: left;

            @media (max-width: @screen-sm) {
                line-height: @line-height-large;
                padding-bottom: @padding-margin-10px;
            }
        }

        .ant-input-group-wrapper-status-error .ant-input-group-addon {
            color: @neutral-10;
        }

        .ant-input-status-error:not(.ant-input-disabled):not(.ant-input-borderless).ant-input {
            border-left-color: @neutral-5;
        }

        .ant-input-status-error:not(.ant-input-disabled):not(.ant-input-borderless).ant-input,
        .ant-input-status-error:not(.ant-input-disabled):not(
                .ant-input-borderless
            ).ant-input:hover {
            border-left-color: @neutral-5;
        }

        .ant-input-affix-wrapper > .ant-input {
            font-size: @font-size-base;
        }

        .ant-input-group-addon {
            padding: 0 13px;
        }
    }
}

.password-confirm {
    :global {
        .ant-row {
            margin-bottom: 62px;

            @media (max-width: @screen-sm) {
                margin-bottom: 57px;
            }
        }

        .ant-input-affix-wrapper > .ant-input {
            font-size: @font-size-base;
        }
    }
}

[class*='ant-form'] [class*='ant-form-item'].registration-wrapper-buttons {
    margin: @padding-margin-zero;
}
