[class*='menu'].sider-menu {
    :global {
        .ant-menu-item:not(.ant-menu-inline-collapsed) {
            @media (max-width: 479px) {
                padding: var(--padding-zero);
            }

            &:not(:last-child) {
                margin-bottom: 18px;

                @media (max-width: 479px) {
                    margin-bottom: 10px;
                    padding: var(--padding-zero);
                }
            }

            .anticon {
                @media (max-width: 479px) {
                    display: none;
                }
            }
        }
    }
}
