[class*='menu'].sider-menu {
    :global {
        .ant-menu-item:not(.ant-menu-inline-collapsed) {
            padding: 0 17px !important;

            @media (max-width: 479px) {
                padding: var(--padding-zero) !important;
            }

            &:not(:last-child) {
                margin-bottom: 18px;

                @media (max-width: 479px) {
                    margin-bottom: 10px;
                    padding: var(--padding-zero);
                }
            }

            .anticon {
                @media (max-width: 479px) {
                    display: none;
                }
            }
        }

        .ant-menu-item-icon + span {
            @media (max-width: 479px) {
                margin-left: 15px;
            }
        }
    }
}
