[class*='ant-layout'].page-container {
    flex-direction: row;
    min-height: 100%;
    background: url('/images/background-image-light.jpg') no-repeat center / cover;
}

[class*='ant-layout'].page-content {
    background-color: transparent;
}
