@import '@styles/constants.less';

.wrapper {
    display: flex;
    flex-direction: column;
}

.user-join-list {
    :global {
        .ant-list-items {
            display: flex;
            flex-wrap: wrap;
            gap: @gap-16px;

            @media (max-width: @screen-xs) {
                gap: 10px;
            }
        }

        .ant-list-pagination {
            text-align: left;
            margin-top: @padding-margin-15px;
        }
    }
}
