[class*='ant-card'].advantages {
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 130%;
    color: var(--primary-light-9);

    :global {
        .ant-typography {
            color: var(--primary-light-9);
        }

        .ant-list-item {
            padding: 0;
            font-size: 16px;
            line-height: 130%;

            .ant-typography {
                color: var(--primary-light-9);

                @media (max-width: 479px) {
                    letter-spacing: 0.2px;
                }
            }
        }

        .ant-card-body {
            @media (max-width: 479px) {
                padding: 16px;
            }
        }
    }
}
