@import '@styles/constants.less';

[class*='ant-layout'].page-container {
    flex-direction: row;
    min-height: 100vh;
    background: url('/images/background-image-light.jpg') no-repeat center / cover;

    .page-content {
        background-color: transparent;

        :global {
            .ant-breadcrumb {
                padding: 14px 24px;
                background: @primary-light-1;
            }
        }
    }
}
