.auth-page-container {
    position: relative;
    height: 100%;
    background: url('/images/background-image-light-auth.jpg') no-repeat center / cover;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(121, 156, 212, 50%);
        backdrop-filter: blur(5px);
    }

    :global {
        .ant-layout {
            position: absolute;
            z-index: 1;
            left: 50%;
            top: 50%;
            width: 539px;
            padding: 64px 85.5px;
            text-align: center;
            background: var(--character-light-primary-inverse);
            box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
            transform: translate(-50%, -50%);

            @media (max-width: 555px) {
                width: 328px;
                padding: 32px 16px;
            }
        }
    }
}
