@import '@styles/constants.less';

[class*='ant-layout-content'].content {
    max-width: 752px;
    margin: @space-24;

    @media (max-width: @screen-md) {
        min-height: fit-content;
    }

    @media (max-width: @screen-xs) {
        margin: @space-27 @space-16;
    }
}
