@import '@styles/constants.less';

[class*='ant-layout-content'].content {
    max-width: 752px;
    margin: @padding-margin-24px;

    @media (max-width: @screen-md) {
        min-height: fit-content;
    }

    @media (max-width: @screen-xs) {
        margin: @padding-margin-27px @padding-margin-16px;
    }
}
