@import '@styles/constants.less';

.status {
    display: flex;
    justify-content: center;
    gap: @gap-10px;
    padding-top: @padding-margin-10px;

    :global {
        .ant-typography {
            font-size: @font-size-12px;
        }

        .anticon-check-circle {
            color: #52c41a;
        }
    }
}
