@import '@styles/constants.less';

.settings-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: @space-16;
    padding: @space-24;
    background-color: @neutral-1;
    border-radius: @border-radius-8px;

    @media (max-width: @screen-sm) {
        padding: @space-17 @space-24;
    }

    & .settings-title {
        margin: @space-0;
        font-weight: @font-weight-medium;
    }
}

[class*='ant-result-success'].modal-check {
    padding: @space-48 @space-21 @space-30;

    @media (max-width: @screen-sm) {
        padding: @space-48 @space-0 @space-30;
    }

    :global {
        .ant-result-icon > .anticon {
            color: @primary-color;
        }

        .ant-result-icon {
            margin-bottom: 28px;
        }

        .ant-result-title,
        .ant-result-subtitle {
            line-height: @line-height-large;
        }

        .ant-result-title {
            @media (max-width: @screen-sm) {
                white-space: @white-space-break-spaces;
            }
        }

        .ant-result-extra,
        .ant-result-subtitle {
            color: @neutral-7;
        }

        .ant-result-extra {
            margin-top: @space-20;

            @media (max-width: @screen-sm) {
                white-space: @white-space-break-spaces;
            }
        }

        .ant-typography {
            color: @neutral-7;
        }
    }
}
