@import '@styles/constants.less';

.feedbacks-list {
    flex: 1;
    overflow: auto;
    max-height: 60vh;
}

.modal-success {
    :global {
        .ant-result {
            padding: 48px 61px;
        }

        .ant-btn {
            font-size: @font-size-base;
        }

        .ant-result-extra {
            margin-top: 18px;
        }
    }
}
