@import '@styles/constants.less';

.feedbacks-list {
    overflow: auto;
    max-height: calc(100vh - 295px);
}

.modal-success {
    :global {
        .ant-result {
            padding: @space-48 61px;
        }

        .ant-btn {
            font-size: @font-size-base;
        }

        .ant-result-extra {
            margin-top: @space-18;
        }
    }
}
