@import '@styles/constants.less';

[class*='ant-page-header'].header-main {
    padding: 0 15px 0 24px;
    background: @primary-light-1;

    @media (max-width: 835px) {
        padding-bottom: 7px;
    }

    @media (max-width: 550px) {
        margin-top: -15px;
        padding-top: 7px;
    }

    :global {
        .ant-page-header-heading-left,
        .ant-page-header-heading-extra {
            margin: -2px 0 2px;
        }

        h1.ant-typography {
            letter-spacing: 0.2px;
            line-height: 130%;
            white-space: break-spaces;

            @media (max-width: 835px) {
                font-size: 24px;
                font-weight: 500;
                letter-spacing: 0;
            }

            @media (max-width: 550px) {
                font-size: 20px;
            }
        }

        .ant-page-header-heading {
            flex-wrap: nowrap;
        }
    }
}
