@import '@styles/constants.less';

.header-workouts {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: auto;
    background: @primary-light-1;
    padding: @space-0 @space-23 @space-46 @space-0;

    :global {
        .ant-btn {
            margin-bottom: -@space-24;
        }
    }
}
