@import '@styles/constants.less';

.header-workouts {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: auto;
    background: @primary-light-1;
    padding: @padding-margin-zero @padding-margin-23px @padding-margin-46px @padding-margin-zero;

    :global {
        .ant-btn {
            margin-bottom: -@padding-margin-24px;
        }
    }
}
