.change-password {
    :global {
        .ant-typography {
            font-weight: 500;
            font-size: 24px;
            line-height: 130%;
            margin-bottom: 30px;
        }

        .ant-form-item-explain {
            font-size: 12px;
            margin-bottom: 30px;
            text-align: left;
        }

        .ant-btn {
            margin-top: 30px;
        }

        .ant-input-affix-wrapper-lg {
            font-size: 14px;
        }
    }
}
