.fit-logo {
    width: 35px;
    height: 31px;
}

@media (max-width: 479px) {
    .fit-logo {
        width: 19px;
        height: 17px;
    }
}

[class*='collapsed'] .fit-logo {
    width: 29px;
    height: 26px;
}

.logo-auth {
    width: 79px;
    height: 69px;
}

@media (max-width: 479px) {
    .logo-auth {
        width: 52px;
        height: 46px;
    }
}
