.fit-logo {
    width: 35px;
    height: 31px;
}

@media (max-width: 479px) {
    .fit-logo {
        width: 19px;
        height: 17px;
    }
}

[class*='collapsed'] .fit-logo {
    width: 29px;
    height: 26px;
}
