@import '@styles/constants.less';

.author-info {
    display: flex;
    flex-direction: column;

    @media (max-width: 540px) {
        flex-direction: row;
        align-items: flex-start;
    }

    :global {
        .ant-card-meta-avatar {
            padding: 6px 0 11px;

            @media (max-width: 540px) {
                padding-right: 16px;
            }
        }

        .ant-typography {
            margin: @margin-zero;
            font-weight: 400;

            @media (max-width: 540px) {
                text-align: left;
                padding-top: 6px;
            }
        }
    }
}
