@import '@styles/constants.less';

.author-info {
    display: flex;
    flex-direction: column;

    @media (max-width: @screen-sm) {
        flex-direction: row;
        align-items: flex-start;
    }

    :global {
        .ant-card-meta-avatar {
            padding: 6px 0 11px;

            @media (max-width: @screen-sm) {
                padding-right: @padding-margin-16px;
            }
        }

        .ant-typography {
            margin: @padding-margin-zero;
            font-weight: @font-weight-normal;

            @media (max-width: @screen-sm) {
                text-align: left;
                padding-top: @padding-margin-6px;
            }
        }
    }
}
