@import '@styles/constants.less';

.author-info {
    display: flex;
    flex-direction: column;

    @media (max-width: @screen-sm) {
        flex-direction: row;
        align-items: flex-start;
    }

    :global {
        .ant-card-meta-avatar {
            padding: @space-6 @space-0 @space-11;

            @media (max-width: @screen-sm) {
                padding-right: @space-16;
            }
        }

        .ant-typography {
            margin: @space-0;
            font-weight: @font-weight-normal;

            @media (max-width: @screen-sm) {
                text-align: left;
                padding-top: @space-6;
            }
        }
    }
}
