@import '@styles/constants.less';

[class*='ant-card'].training-details {
    position: absolute;
    width: 241px;
    min-height: 240px;
    top: 0;
    background: @neutral-1;
    z-index: 1;
    box-shadow: @box-shadow-layout-0-15;
    display: flex;
    flex-direction: column;
    left: 14px;

    @media (max-width: 360px) {
        width: 312px;
        left: 0;
    }

    :global {
        .ant-card-head {
            padding: @padding-margin-zero @padding-margin-8px;
        }

        .ant-card-head-title {
            padding-top: @padding-margin-17px;
            display: flex;
            gap: 12px;
            padding-bottom: @padding-margin-17px;

            .ant-typography {
                font-size: @font-size-base;
            }
        }

        .ant-card-body {
            padding: @padding-margin-17px @padding-margin-12px @padding-margin-zero;
        }

        .ant-card-actions {
            margin-top: auto;
        }
    }
}

.list {
    :global {
        .ant-list-item {
            padding: @padding-margin-zero;
        }
    }
}
