.clever-sm {
    width: 98px;
    height: 24px;

    @media (max-width: 479px) {
        width: 52px;
        height: 13px;
    }
}

.clever-md {
    width: 227px;
    height: 54px;

    @media (max-width: 479px) {
        width: 149px;
        height: 36px;
    }
}
