@import '@styles/constants.less';

.tariff-cost-title {
    font-size: @font-size-base;
    font-weight: @typography-title-font-weight;
    padding-top: 69px;
    padding-bottom: @space-17;

    @media (max-width: @screen-sm) {
        padding-top: @space-24;
        padding-bottom: @space-5;
    }
}

[class*='ant-radio-group'].radio-group {
    display: flex;
    flex-direction: column;
}
