@import '@styles/constants.less';

[class*='ant-result'].confirm-email {
    padding: @padding-margin-zero;
    margin: 0 -32px;

    @media (max-width: @screen-sm) {
        margin: 0 -17px;
    }

    :global {
        .ant-result-icon {
            margin-bottom: @padding-margin-30px;
        }

        .confirm-email-code {
            font-weight: @font-weight-medium;
            line-height: @line-height-large;
        }

        .ant-result-title {
            font-weight: @font-weight-medium;
            line-height: @line-height-large;

            .confirm-email-code {
                white-space: @white-space-pre-line;
            }

            .confirm-email-code-error {
                display: block;
                padding: 0 27px;

                @media (max-width: @screen-sm) {
                    padding: @padding-margin-zero;
                }
            }
        }

        .ant-result-subtitle {
            @media (max-width: @screen-sm) {
                padding: 0 30px;
            }

            .ant-typography {
                color: @neutral-7;
            }
        }

        .ant-result-content {
            background-color: transparent;
            text-align: center;
            margin: 0 auto;
            align-items: center;
            display: flex;
            flex-direction: column;
            gap: 15px;
            padding-bottom: 0;

            @media (max-width: @screen-sm) {
                padding: 24px 25px 0;
            }

            .ant-typography {
                color: @neutral-7;

                @media (max-width: @screen-sm) {
                    padding: 0 20px;
                }
            }
        }
    }
}

[class*='ant-result'][class*='ant-result-info'].confirm-email {
    :global {
        .ant-result-icon > .anticon {
            color: @primary-color;
        }
    }
}
