[class*='ant-card'].description {
    margin-bottom: 16px;

    :global {
        .ant-typography {
            font-size: var(--font-size-20);
            line-height: var(--line-height-130);
        }

        .ant-card-body {
            @media (max-width: 479px) {
                padding: 17px;
            }
        }
    }
}
