.description [class*='ant-typography'].description-title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    color: var(--character-light-title-85);
    letter-spacing: 0.5px;
    margin-bottom: 0;
}

[class*='ant-card'].description {
    margin-bottom: 16px;
}

@media (max-width: 479px) {
    .description [class*='ant-card-body'] {
        padding: 17px;
    }
}
