@import '@styles/constants.less';

.feedbacks-buttons {
    display: flex;
    flex-wrap: wrap;
    padding-top: 91px;
    gap: @space-8;

    @media (max-width: @screen-sm) {
        padding-top: @space-14;
        gap: @space-15;
    }

    :global {
        .ant-btn {
            @media (max-width: @screen-sm) {
                width: @full-width;
            }
        }
    }
}
