.reedback-default-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.feedback-default {
    :global {
        .ant-card-head {
            border-bottom: none;
        }

        .ant-card-head-title {
            padding-top: 53px;
            font-size: var(--font-size-24);
            line-height: 130%;
            color: var(--primary-light-9);
            text-align: center;
            white-space: pre-line;

            @media (max-width: 479px) {
                padding-top: 48px;
            }
        }

        .ant-card-body {
            padding: 30px 32px 54px;

            @media (max-width: 479px) {
                padding: 33px 32px 46px;
            }
        }

        .ant-typography {
            margin: 0;
            line-height: var(--line-height-130);
            text-align: center;
            color: var(--character-light-secondary-45);
        }
    }
}

.feedback-default-button {
    padding-top: 25px;
    display: flex;
    justify-content: center;

    @media (max-width: 479px) {
        padding-top: 49px;
    }

    :global {
        .ant-btn {
            font-size: var(--font-size-14);
            background: var(--primary-light-6);
            border-color: var(--primary-light-6);

            @media (max-width: 479px) {
                width: 100%;
            }
        }
    }
}
