@import '@styles/constants.less';

.feedback-modal {
    :global {
        .ant-modal-content {
            @media (max-width: @screen-xs) {
                margin: @space-0 @space-8;
            }
        }

        .ant-modal-header {
            @media (max-width: @screen-xs) {
                padding: @space-16;
            }
        }

        .ant-modal-body {
            padding: @space-20 @space-16 @space-0;

            @media (max-width: @screen-xs) {
                padding: @space-16 @space-16 @space-0;
            }
        }
    }
}

[class*='ant-btn'].feedback-form-button {
    font-size: @font-size-base;

    @media (max-width: @screen-xs) {
        width: @full-width;
    }
}
