@import '@styles/constants.less';

.change-password {
    :global {
        .ant-typography {
            margin-bottom: 32px;
            font-weight: 500;
            font-size: 24px;
        }

        .ant-form-item-explain {
            margin-bottom: 27px;
            font-size: @font-size-sm;
            text-align: left;

            @media (max-width: 555px) {
                margin-bottom: 10px;
            }
        }

        .ant-btn {
            margin-top: 35px;
        }

        .ant-input-affix-wrapper-lg {
            padding: 7.5px 11px;
            font-size: @font-size-base;
        }
    }
}
