@import '@styles/constants.less';

.change-password {
    :global {
        .ant-typography {
            margin-bottom: @padding-margin-32px;
            font-weight: @font-weight-medium;
            font-size: @font-size-24px;
        }

        .ant-form-item-explain {
            margin-bottom: @padding-margin-27px;
            font-size: @font-size-sm;
            text-align: left;

            @media (max-width: @screen-sm) {
                margin-bottom: @padding-margin-10px;
            }
        }

        .ant-btn {
            margin-top: 35px;
        }

        .ant-input-affix-wrapper-lg {
            padding: 7.5px 11px;
            font-size: @font-size-base;
        }
    }
}
