@import '@styles/constants.less';

.drawer {
    :global {
        .ant-drawer-content,
        .ant-drawer-content-wrapper {
            border-radius: @border-radius-8px 0 0 @border-radius-8px;

            @media (max-width: @screen-sm) {
                border-radius: @border-radius-24px @border-radius-24px 0 0;
            }
        }

        .ant-drawer-header {
            padding: @padding-margin-24px @padding-margin-27px @padding-margin-16px
                @padding-margin-31px;
            border-bottom: none;

            @media (max-width: @screen-sm) {
                padding: @padding-margin-24px @padding-margin-12px @padding-margin-16px
                    @padding-margin-15px;
            }
        }

        .ant-drawer-body {
            padding: @padding-margin-24px @padding-margin-32px;

            @media (max-width: @screen-sm) {
                padding: @padding-margin-zero @padding-margin-15px;
            }
        }

        .ant-drawer-footer {
            padding: @padding-margin-12px @padding-margin-32px;

            @media (max-width: @screen-sm) {
                padding: @padding-margin-12px @padding-margin-16px;
            }

            .ant-typography {
                color: @neutral-7;
                text-align: center;
                margin-bottom: @padding-margin-24px;
            }
        }

        .ant-drawer-content-wrapper {
            @media (max-width: @screen-sm) {
                height: 555px;
            }
        }
    }
}
