@import '@styles/constants.less';

.profile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: @space-22 @space-24 @space-14;
    background: @primary-light-1;

    @media (max-width: @screen-lg-xs) {
        padding: @space-16 @space-24 @space-55;
    }

    @media (max-width: @screen-xs) {
        padding: @space-16 @space-17 41px @space-24;
    }

    :global {
        .profile-header-title {
            font-weight: @font-weight-medium;

            @media (max-width: @screen-lg-xs) {
                font-size: @font-size-base;
                font-weight: @font-weight-normal;
            }
        }

        .ant-btn {
            margin-top: -@space-10;

            @media (max-width: @screen-lg-xs) {
                margin-bottom: -69px;
            }

            @media (max-width: @screen-xs) {
                margin-bottom: -54px;
            }
        }
    }
}
