@import '@styles/constants.less';

.auth-form-buttons {
    width: @full-width;

    :global {
        .ant-btn {
            @media (max-width: 555px) {
                font-size: @font-size-base;
            }
        }

        .anticon {
            @media (max-width: 555px) {
                display: none;
            }
        }

        .ant-btn > .anticon + span {
            @media (max-width: 555px) {
                margin-left: @margin-zero;
            }
        }
    }
}
