[class*='ant-layout-footer'].footer {
    padding: 42px 24px;
    background: transparent;
}

@media (max-width: 479px) {
    [class*='ant-layout-footer'].footer {
        padding: 0 16px 42px;
        display: flex;
    }

    [class*='ant-layout-footer'].footer [class*='ant-row'] {
        text-align: center;
    }

    [class*='ant-layout-footer'].footer [class*='ant-col'] {
        flex: 1;
    }
}
