[class*='ant-layout-footer'].footer {
    padding: 42px 24px;
    background: transparent;

    @media (max-width: 479px) {
        padding: 0 16px 42px;
        text-align: center;
    }

    :global {
        .ant-col {
            @media (max-width: 479px) {
                flex-grow: 1;
            }
        }
    }
}
