@import '@styles/constants.less';

.profile-page {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.profile-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: @space-16;
    padding: @space-24;
    margin: @space-24 @space-24 @space-42;
    border-radius: @border-radius-8px;
    background-color: @neutral-1;

    @media (max-width: @screen-xs) {
        margin: @space-24 @space-0 @space-42;
        border-radius: 0;
        padding: @space-16 @space-24;
    }
}
