@import '@styles/constants.less';

.auth-tabs {
    :global {
        .ant-tabs-nav-list {
            width: @full-width;
        }

        .ant-tabs-tab {
            justify-content: center;
            width: 50%;
            font-size: @font-size-lg;
        }

        .ant-tabs-tab + .ant-tabs-tab {
            margin: @margin-zero;
        }

        .ant-tabs-tab-btn {
            @media (max-width: 555px) {
                font-size: @font-size-base;
            }
        }

        #login {
            padding: 8px 0 80px;

            @media (max-width: 555px) {
                padding-bottom: 60px;
            }
        }

        #registration {
            padding: 16px 0 0;

            @media (max-width: 555px) {
                padding-top: 10px;
            }
        }
    }
}
