@import '@styles/constants.less';

.auth-tabs {
    :global {
        .ant-tabs-nav-list {
            width: @full-width;
        }

        .ant-tabs-tab {
            justify-content: center;
            width: 50%;
            font-size: @font-size-lg;
        }

        .ant-tabs-tab + .ant-tabs-tab {
            margin: @space-0;
        }

        .ant-tabs-tab-btn {
            @media (max-width: @screen-sm) {
                font-size: @font-size-base;
            }
        }

        #login {
            padding: @space-8 @space-0 80px;

            @media (max-width: @screen-sm) {
                padding-bottom: @space-60;
            }
        }

        #registration {
            padding: @space-16 @space-0 @space-0;

            @media (max-width: @screen-sm) {
                padding-top: @space-10;
            }
        }
    }
}
