@import '@styles/constants.less';

.upload-button-desktop {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: @space-7;

    :global {
        .ant-typography {
            color: @neutral-7;
            white-space: @white-space-break-spaces;
        }
    }
}

.upload-mobile {
    display: flex;
    align-items: center;
    gap: @space-17;

    :global {
        .ant-typography {
            font-size: @font-size-12px;
        }

        .ant-btn.ant-btn-lg {
            @media (max-width: @screen-xs) {
                padding: @space-8 @space-26;
                margin: @space-0;
                font-size: @font-size-base;
            }
        }
    }
}
