.feedback-buttons {
    padding-top: 108px;

    @media (max-width: 479px) {
        padding-top: 27px;
        flex-direction: column;
        width: 100%;
    }

    :global {
        .ant-space-item {
            @media (max-width: 479px) {
                width: 100%;
            }
        }

        .ant-btn {
            @media (max-width: 479px) {
                width: 100%;
            }
        }

        .ant-btn-primary {
            font-size: var(--font-size-14);
            background: var(--primary-light-6);
        }

        .ant-btn-text {
            font-size: var(--font-size-16);
            color: var(--primary-light-6);

            @media (max-width: 479px) {
                margin-top: 10px;
            }
        }
    }
}
