.feedback-buttons {
    padding-top: 108px;

    @media (max-width: 610px) {
        padding-top: 27px;
        flex-direction: column;
        width: 100%;
    }

    :global {
        .ant-space-item {
            @media (max-width: 610px) {
                width: 100%;
            }
        }

        .ant-btn {
            @media (max-width: 610px) {
                width: 100%;
            }
        }

        .ant-btn-primary {
            font-size: 14px;
        }

        .ant-btn-text {
            @media (max-width: 610px) {
                margin-top: 10px;
            }
        }
    }
}
