@import '@styles/constants.less';

.login-field {
    :global {
        .ant-input-group-addon {
            padding: @space-0 @space-13;
        }

        .ant-input-affix-wrapper-lg {
            font-size: @font-size-base;
        }

        .ant-input-group-wrapper-status-error .ant-input-group-addon {
            color: @neutral-10;
        }

        .ant-input-status-error:not(.ant-input-disabled):not(.ant-input-borderless).ant-input {
            border-left-color: @neutral-5;
        }
    }
}

.login-forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: @space-20 @space-0;

    @media (max-width: @screen-sm) {
        padding: @space-20 @space-0 @space-16;
    }

    :global {
        .ant-btn {
            padding: @space-2 @space-0;
            font-size: @font-size-lg;

            @media (max-width: @screen-sm) {
                padding-right: @space-7;
                font-size: @font-size-base;
            }
        }
    }
}
