@import '@styles/constants.less';

.login-field {
    :global {
        .ant-input-group-addon {
            padding: @padding-margin-zero @padding-margin-13px;
        }

        .ant-input-affix-wrapper-lg {
            font-size: @font-size-base;
        }

        .ant-input-group-wrapper-status-error .ant-input-group-addon {
            color: @neutral-10;
        }

        .ant-input-status-error:not(.ant-input-disabled):not(.ant-input-borderless).ant-input {
            border-left-color: @neutral-5;
        }
    }
}

.login-forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: @padding-margin-20px @padding-margin-zero;

    @media (max-width: @screen-sm) {
        padding: @padding-margin-20px @padding-margin-zero @padding-margin-16px;
    }

    :global {
        .ant-btn {
            padding: @padding-margin-2px @padding-margin-zero;
            font-size: @font-size-lg;

            @media (max-width: @screen-sm) {
                padding-right: @padding-margin-7px;
                font-size: @font-size-base;
            }
        }
    }
}
