@import '@styles/constants.less';

.feedbacks-page {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: @padding-margin-24px;

    @media (max-width: @screen-xs) {
        padding: 24px 16px;
        justify-content: flex-start;
    }
}
