@import '@styles/constants.less';

.feedbacks-page {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.feedbacks-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: @space-24;

    @media (max-width: @screen-xs) {
        padding: @space-24 @space-16;
        justify-content: flex-start;
    }
}
