@import '@styles/constants.less';

.reedback-default-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.feedback-default {
    :global {
        .ant-card-head {
            border-bottom: none;
        }

        .ant-card-head-title {
            padding-top: 53px;
            font-size: @font-size-24px;
            line-height: @line-height-large;
            color: @primary-light-9;
            text-align: center;
            white-space: @white-space-pre-line;

            @media (max-width: @screen-xs) {
                padding-top: @space-48;
            }
        }

        .ant-card-body {
            padding: @space-30 @space-32 54px;

            @media (max-width: @screen-xs) {
                padding: @space-33 @space-32 @space-46;
            }
        }

        .ant-typography {
            margin: @space-0;
            text-align: center;
            color: @neutral-7;
        }
    }
}

.feedback-default-button {
    padding-top: @space-25;
    display: flex;
    justify-content: center;

    @media (max-width: @screen-xs) {
        padding-top: 49px;
    }

    :global {
        .ant-btn {
            font-size: @font-size-base;

            @media (max-width: @screen-xs) {
                width: @full-width;
            }
        }
    }
}
