@import '@styles/constants.less';

.reedback-default-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.feedback-default {
    :global {
        .ant-card-head {
            border-bottom: none;
        }

        .ant-card-head-title {
            padding-top: 53px;
            font-size: @font-size-24px;
            line-height: @line-height-large;
            color: @primary-light-9;
            text-align: center;
            white-space: @white-space-pre-line;

            @media (max-width: @screen-xs) {
                padding-top: @padding-margin-48px;
            }
        }

        .ant-card-body {
            padding: @padding-margin-30px @padding-margin-32px 54px;

            @media (max-width: @screen-xs) {
                padding: @padding-margin-33px @padding-margin-32px @padding-margin-46px;
            }
        }

        .ant-typography {
            margin: @padding-margin-zero;
            text-align: center;
            color: @neutral-7;
        }
    }
}

.feedback-default-button {
    padding-top: @padding-margin-25px;
    display: flex;
    justify-content: center;

    @media (max-width: @screen-xs) {
        padding-top: 49px;
    }

    :global {
        .ant-btn {
            font-size: @font-size-base;

            @media (max-width: @screen-xs) {
                width: @full-width;
            }
        }
    }
}
