@import '@styles/constants.less';

.feedback-card {
    :global {
        .ant-card-body {
            padding: 14px 24px 24px;

            @media (max-width: @screen-sm) {
                padding: 14px 16px 24px;
            }
        }

        .ant-comment-inner {
            padding: @padding-margin-zero;

            @media (max-width: @screen-sm) {
                flex-direction: column;
            }
        }

        .ant-comment-avatar {
            min-width: 166px;
            text-align: center;
        }

        .ant-rate {
            font-size: @font-size-base;
        }

        .ant-rate-star:not(:last-child) {
            margin-right: @padding-margin-6px;
        }

        .ant-comment-content-author > span {
            padding-right: @padding-17px;
        }

        .ant-comment-content-author {
            margin-bottom: @margin-9px;
        }

        .ant-comment-content-detail .ant-typography {
            color: @neutral-7;
        }
    }
}
