@import '@styles/constants.less';

.feedback-buttons {
    padding-top: 108px;

    @media (max-width: @screen-md) {
        padding-top: @space-27;
        flex-direction: column;
        width: @full-width;
    }

    :global {
        .ant-space-item {
            @media (max-width: @screen-md) {
                width: @full-width;
            }
        }

        .ant-btn {
            @media (max-width: @screen-md) {
                width: @full-width;
            }
        }

        .ant-btn-primary {
            font-size: @font-size-base;
        }

        .ant-btn-text {
            @media (max-width: @screen-md) {
                margin-top: @space-10;
            }
        }
    }
}
