@import '@styles/constants.less';

[class*='ant-modal-wrap'].modal {
    position: absolute;
    top: 2px;
    bottom: auto;
    overflow: visible;

    :global {
        .ant-modal {
            position: static;
            min-height: 200px;
        }
    }
}

[class*='ant-modal-wrap'].position-left {
    :global {
        .ant-modal {
            left: 4px;
            top: 0;
            position: absolute;
        }
    }
}

[class*='ant-modal-wrap'].position-right {
    :global {
        .ant-modal {
            right: 4px;
            position: absolute;
            top: 0;
        }
    }
}

[class*='ant-modal-wrap'].position-bottom {
    :global {
        .ant-modal {
            position: absolute;
            bottom: 20px;
        }
    }
}

.workout-card-list,
.workout-card-empty {
    :global {
        .ant-modal-header {
            border-bottom: none;

            .ant-typography {
                font-size: @font-size-base;
                font-weight: 700;
            }

            .anticon {
                font-size: @font-size-10px;
            }
        }

        .ant-modal-footer {
            padding: @space-10;
        }

        .ant-btn-primary {
            font-size: @font-size-base;
        }
    }
}

.workout-card-empty {
    :global {
        .ant-modal-header {
            padding: @space-10 @space-16 @space-2 @space-12;
        }

        .ant-modal-body {
            padding: @space-0 @space-13 @space-16;
        }
    }
}

.workout-card-list {
    :global {
        .ant-badge .ant-badge-status-text {
            font-size: @font-size-base;
        }

        .ant-modal-header {
            padding: @space-14 @space-16 @space-14 @space-12;
        }

        .ant-modal-body {
            padding: @space-14 @space-0;
            min-height: 100px;

            .ant-btn-icon-only {
                height: 24px;
            }

            .anticon {
                font-size: @font-size-lg;
            }
        }

        .ant-list-item {
            padding: @space-0 @space-4 @space-0 @space-13;
        }

        .ant-list-item:hover {
            background-color: @neutral-3;
        }
    }
}

.workout-edit-empty,
.workout-edit-list {
    :global {
        .ant-modal-title {
            display: flex;
        }

        .ant-modal-header {
            padding: @space-7 @space-16 @space-11 @space-9;
        }

        .ant-modal-footer {
            padding: @space-10;
            display: flex;
            flex-direction: column;
            gap: @space-9;

            .ant-btn + .ant-btn:not(.ant-dropdown-trigger) {
                margin-left: @space-0;
            }
        }
    }
}

.workout-edit-empty {
    :global {
        .ant-modal-body {
            padding: @space-29;
        }
    }
}

.workout-edit-list {
    :global {
        .ant-modal-body {
            min-height: 90px;
            padding: @space-24 @space-0;

            .ant-typography {
                color: @neutral-7;
            }

            .ant-list-item {
                padding: @space-0 @space-24;
            }
        }
    }
}
