.container {
    gap: 12px;

    @media (max-width: 555px) {
        width: 100%;
        gap: 8px;
    }
}

.character,
.character--inactive {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 1px solid var(--character-light-border);
    border-radius: 2px;
}

.character-error {
    border-color: var(--character-light-error);
}

.character--selected {
    outline: none;
    border: 1px solid var(--primary-light-5);
}

.character--filled {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-14);
    line-height: var(--line-height-130);
}
