@import '@styles/constants.less';

.benefits-tariff {
    display: flex;
    justify-content: space-between;

    & .benefits-title {
        margin-bottom: @space-16;

        @media (max-width: @screen-sm) {
            margin-bottom: @space-8;
        }
    }

    & .benefits-icons-container {
        margin-right: @space-16;
        display: flex;
        align-items: flex-start;
        gap: 52px;

        @media (max-width: @screen-sm) {
            gap: 45px;
        }
    }

    & .benefits-tariff-icon {
        font-size: 18px;
    }

    & .benefits-tariff-icon-inactive {
        color: @neutral-6;
    }
}
