.modal-error-save-training {
    :global {
        .ant-modal-confirm-body .ant-modal-confirm-content {
            margin-top: @space-4;
        }

        .ant-btn-lg {
            font-size: @font-size-base;
        }

        .ant-modal-confirm .ant-modal-confirm-btns {
            margin-top: @space-22;
        }
    }
}
