@import '@styles/constants.less';

.cards {
    display: flex;
    flex-wrap: wrap;

    :global {
        .ant-space-item {
            @media (max-width: @screen-sm) {
                width: @full-width;
            }
        }
    }
}

.card {
    box-shadow: @box-shadow-layout-0-15;
    background: @neutral-1;

    :global {
        .ant-card-head {
            padding: @space-1 @space-8 @space-1 @space-24;
        }

        .ant-card-body,
        .ant-card-extra {
            padding: @space-0;
        }

        .ant-card-head-title {
            padding: @space-13 @space-0;
        }

        .ant-typography,
        .ant-typography + h5.ant-typography {
            margin: @space-0;
        }
    }
}
