@import '@styles/constants.less';

[class*='footer'].sider-footer {
    margin-top: auto;
    padding: @space-0;

    :global {
        .ant-divider-horizontal {
            margin: @space-0;
        }

        .ant-menu-item {
            margin: @space-0;

            .anticon {
                @media (max-width: @screen-md) {
                    display: none;
                }
            }
        }

        .ant-menu-title-content {
            margin-left: @space-26;

            @media (max-width: @screen-md) {
                margin-left: @space-15;
            }
        }

        .ant-menu-inline-collapsed .ant-menu-item {
            padding: @space-0 @space-16;
        }
    }
}
