@import '@styles/constants.less';

[class*='footer'].sider-footer {
    margin-top: auto;
    padding: @padding-zero;

    :global {
        .ant-divider-horizontal {
            margin: @margin-zero;
        }

        .ant-menu-item {
            margin: @margin-zero;

            .anticon {
                @media (max-width: 479px) {
                    display: none;
                }
            }
        }

        .ant-menu-title-content {
            margin-left: 26px;

            @media (max-width: 479px) {
                margin-left: 15px;
            }
        }

        .ant-menu-inline-collapsed .ant-menu-item {
            padding: 0 16px;
        }
    }
}
