@import '@styles/constants.less';

.drawer-workout {
    :global {
        .form-item-date,
        .form-item-period {
            margin: @padding-margin-zero;
        }

        .ant-picker {
            width: @full-width;
            margin-bottom: @padding-margin-8px;
        }

        .checkbox-col {
            padding-top: @padding-margin-5px;
        }

        .ant-checkbox + span {
            padding-right: @padding-margin-zero;
        }

        .ant-space {
            margin-top: @padding-margin-13px;
        }
    }
}
