@import '@styles/constants.less';

.drawer-workout {
    :global {
        .form-item-date,
        .form-item-period {
            margin: @space-0;
        }

        .ant-picker {
            width: @full-width;
            margin-bottom: @space-8;
        }

        .checkbox-col {
            padding-top: @space-5;
        }

        .ant-checkbox + span {
            padding-right: @space-0;
        }

        .ant-space {
            margin-top: @space-13;
        }
    }
}
