@import '@styles/constants.less';

[class*='ant-layout-footer'].footer {
    padding: @space-42 @space-24;
    background: transparent;

    @media (max-width: @screen-xs) {
        padding: @space-0 @space-16 @space-42;
        text-align: center;
    }

    :global {
        .ant-col {
            @media (max-width: @screen-xs) {
                flex-grow: 1;
            }
        }
    }
}
