@import '@styles/constants.less';

.settings-page {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.settings-background {
    display: flex;
    flex: 1;
    background-color: @image-bg;
    padding: @space-29 @space-24 @space-42;

    @media (max-width: @screen-sm) {
        padding: @space-24 @space-0 @space-42;
    }
}
