@import '@styles/constants.less';

[class*='ant-form'].form-settings {
    padding-top: @space-17;
    display: flex;
    flex-direction: column;
    gap: @space-6;

    @media (max-width: @screen-sm) {
        padding-top: @space-20;
        gap: @space-13;
    }

    :global {
        .ant-form-item {
            margin: @space-0;
        }
    }
}

.form-settings-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 505px;
    width: @full-width;
}

.form-settings-content:first-child .content {
    @media (max-width: @screen-sm) {
        max-width: 196px;
        gap: @space-3;
        align-items: flex-start;
    }
}

.content {
    display: flex;
    gap: @space-7;
}

[class*='ant-typography'].title {
    font-size: @font-size-base;
    font-weight: @typography-title-font-weight;
    margin: @space-0;
}

[class*='ant-typography'].title-inactive {
    font-size: @font-size-base;
    font-weight: @typography-title-font-weight;
    margin: @space-0;
    color: @neutral-6;
}

[class*='anticon'].info-icon {
    font-size: @font-size-lg;
    color: @neutral-7;
}
