@import '@styles/constants.less';

[class*='ant-page-header'].header-main {
    padding: 0 15px 0 24px;
    background: @primary-light-1;

    @media (max-width: @screen-lg-sm) {
        padding-bottom: @padding-margin-7px;
    }

    @media (max-width: @screen-sm) {
        margin-top: -15px;
        padding-top: @padding-margin-7px;
    }

    :global {
        .ant-page-header-heading-left,
        .ant-page-header-heading-extra {
            margin: -2px 0 2px;
        }

        h1.ant-typography {
            letter-spacing: 0.2px;
            white-space: @white-space-break-spaces;

            @media (max-width: @screen-lg-sm) {
                font-size: @font-size-24px;
                font-weight: @font-weight-medium;
                letter-spacing: 0;
            }

            @media (max-width: @screen-sm) {
                font-size: @font-size-20px;
            }
        }

        .ant-page-header-heading {
            flex-wrap: nowrap;
        }
    }
}
