@import '@styles/constants.less';

[class*='ant-form-item'].form-select {
    margin-bottom: @padding-margin-18px;

    @media (max-width: @screen-sm) {
        margin-bottom: @padding-margin-10px;
    }
}

.select {
    width: @full-width;
}
