@import '@styles/constants.less';

[class*='ant-form-item'].form-select {
    margin-bottom: @space-18;

    @media (max-width: @screen-sm) {
        margin-bottom: @space-10;
    }
}

.select {
    width: @full-width;
}
