.feedback-card {
    :global {
        .ant-card-body {
            @media (max-width: 900px) {
                flex-direction: column;
            }
        }
    }
}

[class*='ant-card-grid'].feedback-card-author {
    padding: 20px 0 20px 8px;
    width: 15%;
    text-align: center;
    box-shadow: none;

    @media (max-width: 900px) {
        padding: 20px 0 0 17px;
        width: 100%;
    }
}

[class*='ant-card-grid'].feedback-card-comment {
    padding: 8px 16px 0 3px;
    width: 85%;
    box-shadow: none;

    @media (max-width: 900px) {
        padding: 8px 16px 0;
        width: 100%;
    }
}
